<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="BaudRate" value="115200"/>
    <add key="Parity" value="None"/>
    <add key="DataBits" value="8"/>
    <add key="StopBits" value="1"/>
    <add key="program_title" value="Контроллер дрели и паяльников"/>
    <add key="drill_title" value="Дрель"/>
    <add key="profile1_title" value="Паяльник Pb Free"/>
    <add key="profile1_heaterID" value="1"/>
    <add key="profile1_adder" value="-1300"/>
    <add key="profile1_multipler" value="10"/>
    <add key="profile1_dual_temp" value="true"/>
    <add key="profile2_title" value="Паяльник"/>
    <add key="profile2_heaterID" value="2"/>
    <add key="profile2_adder" value="0"/>
    <add key="profile2_multipler" value="4.17"/>
    <add key="profile3_title" value="Термопинцет"/>
    <add key="profile3_heaterID" value="2"/>
    <add key="profile3_adder" value="0"/>
    <add key="profile3_multipler" value="4.17"/>
    <add key="profile4_title" value="Оловоотсос"/>
    <add key="profile4_heaterID" value="3"/>
    <add key="profile4_adder" value="308"/>
    <add key="profile4_multipler" value="3.45"/>
  </appSettings>
</configuration>