<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaudRate" value="230400"/>
    <add key="Parity" value="None"/>
    <add key="DataBits" value="8"/>
    <add key="StopBits" value="1"/>
    <add key="backColor" value="Black"/>
    <add key="xAxisFont" value="Microsoft Sans Serif,8"/>
    <add key="xAxisFontColor" value="White"/>
    <add key="yAxisFont" value="Microsoft Sans Serif,8"/>
    <add key="yAxisFontColor" value="White"/>
    <add key="yGridPenColor" value="100,100,0"/>
    <add key="xGridPenColor" value="100,100,0"/>
    <add key="xGridMarkedPenColor" value="Blue"/>
    <add key="AFCPenColor" value="Green"/>
    <add key="AFCPenWidth" value="3"/>
    <add key="levelMax" value="10"/>
    <add key="levelMin" value="-80"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
