<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaudRate" value="115200"/>
    <add key="Parity" value="None"/>
    <add key="DataBits" value="8"/>
    <add key="StopBits" value="1"/>
    <add key="u1" value="3.347"/>
    <add key="r1" value="906"/>
    <add key="r0" value="942"/>
    <add key="A" value="3.81E-3"/>
    <add key="B" value="-6.02E-7"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
